<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Глоссарий</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header>

        <a href="" class="headl">Глоссарий</a>
        <a href="" class="head">Aircrafts</a>
        <a href="" class="head">Airports</a>
        <a href="" class="head">Cabin Types</a>
        <a href="" class="head">Countries</a>
        <a href="" class="head">Offices</a>
        <a href="" class="head">Roles</a>
        <a href="" class="head">Routes</a>
        <a href="" class="head">Schedules</a>
        <a href="" class="head">Tickets</a>
        <a href="" class="head">Users Blocking</a>
        <a href="" class="head">Users</a>
        <a href="" class="headr">Users Logs</a>
    </header>
    
    <body>

    </body>

    <footer>
        
    </footer>
</body> 
</html>